:root {
  --color-primary: #131921;
  --color-secondry: #232f3e;
  --color-accent: #febd69;
  --color-accent-hover: #f7b35a;
  --color-heading: #0f1111;
  --color-list: #dddddd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eaeded;
  color: #fff;
  font-size: 1.4rem;
}

/** typography **/

h1,
h2 {
  color: var(--color-heading);
}

h2 {
  font-size: 2.1rem;
}

h3 {
  margin-bottom: 8px;
}

/** Links **/

a {
  text-decoration: none;
  color: #fff;
}

.link-card {
  color: #4168bd;
  font-size: 1.3rem;
  display: block;
}

.link-card:hover {
  text-decoration: underline;
  color: red;
}

/** Lists **/

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin: 0 9px;
}

.list--horizntal {
  display: flex;
  flex-direction: column;
}

.list--horizntal .list__item {
  margin-top: 4px;
}

.card {
  display: inline-block;
  padding: 20px;
  background-color: #fff;
  margin: 0 45px 10px 0;
  width: 95%;
}

.card-long {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card header {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0f1111;
}

.full {
  width: 100%;
}

.almost-full {
  width: 70%;
}
