section {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-bottom: -350px;
}

.slider-image {
  width: 100%;
  height: 595px;
}

.nxtBtn {
  position: absolute;
  top: 100px;
  left: 18px;
  cursor: pointer;
  font-size: 40px;
  color: black;
}

.backBtn {
  position: absolute;
  top: 100px;
  right: 58px;
  cursor: pointer;
  font-size: 40px;
  color: black;
}
