.search {
  background-color: red;
  display: flex;
  margin: 0 10px;
  border-radius: 50px;
}

.search:focus-within {
  outline: 3px solid #ff9900;
  border: 0;
}

.search input {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 13px 10px;
}

.search span {
  background-color: var(--color-accent);
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
}

#catagories {
  outline: 0;
  background-color: rgb(245, 243, 243);
  border: 0;
}

select {
  width: 50px;
  border-radius: 5px 0 0 5px;
}

.select:focus-within {
  outline: 4px solid orange;
  border: 0;
}

.fa-icon {
  font-size: 2.2rem;
  color: var(--color-secondry);
}
