<nav>
  <ul class="list list--inline">
    <li class="list__item">
      <a href="#">
        <fa-icon [icon]="faBars" class="faBars"></fa-icon>
        <span>All</span>
      </a>
    </li>
    <li class="list__item"><a href="">Today's Deals</a></li>
    <li class="list__item"><a href="">Customer Service</a></li>
    <li class="list__item"><a href="">Registry</a></li>
    <li class="list__item"><a href="">Gift Cards</a></li>
    <li class="list__item"><a href="">Sell</a></li>
  </ul>
  <p>Amazon's response to COVID-19</p>
</nav>
