<footer>
  <div class="footer-content">
    <div class="footer-list">
      <h3>Get to Know Us</h3>
      <ul class="list">
        <li class="list__item"><a href="#">Careers</a></li>
        <li class="list__item"><a href="#">Blog</a></li>
        <li class="list__item"><a href="#">About Amazon</a></li>
        <li class="list__item"><a href="#">Investor Relations</a></li>
        <li class="list__item"><a href="#">Amazon Devices</a></li>
      </ul>
    </div>
    <div class="footer-list">
      <h3>Make Money with Us</h3>
      <ul class="list">
        <li class="list__item"><a href="#">Sell products on Amazon</a></li>
        <li class="list__item"><a href="#">Sell on Amazon Business</a></li>
        <li class="list__item"><a href="#">Sell apps on Amazon</a></li>
        <li class="list__item"><a href="#">Become an Affiliate</a></li>
        <li class="list__item"><a href="#">Advertise Your Products</a></li>
        <li class="list__item"><a href="#">Self-Publish with Us</a></li>
        <li class="list__item"><a href="#">Host an Amazon Hub</a></li>
        <li class="list__item">
          <a href="#"
            >See More Make Money<br />
            with Us
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-list">
      <h3>Amazon Payment Products</h3>
      <ul class="list">
        <li class="list__item"><a href="#">Amazon Business Card</a></li>
        <li class="list__item"><a href="#">Shop with Points</a></li>
        <li class="list__item"><a href="#">Reload Your Balance</a></li>
        <li class="list__item"><a href="#">Amazon Currency Converter</a></li>
      </ul>
    </div>
    <div class="footer-list">
      <h3>Get to Know Us</h3>
      <ul class="list">
        <li class="list__item"><a href="#">Amazon and COVID-19</a></li>
        <li class="list__item"><a href="#">Your Account</a></li>
        <li class="list__item"><a href="#">Your Orders</a></li>
        <li class="list__item"><a href="#">Shipping Rates & Policies</a></li>
        <li class="list__item"><a href="#">Returns & Replacements</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-buttons">
    <div>
      <img
        src="../../../assets/images/amazon-logo.png"
        alt=""
        class="footer-logo"
      />
    </div>
    <div>
      <a href="">English</a>
      <a href="">$ USD-U.S Dollar</a>
      <a href="">United State</a>
    </div>
  </div>
</footer>
