<div class="test" [ngStyle]="{ width: size + '%' }">
  <section id="{{ images[0] }}">
    <header>
      <h2>
        {{ header }}
      </h2>
      <span
        ><a href="">{{ linkType }}</a></span
      >
    </header>
    <fa-icon
      [icon]="faChevronLeft"
      (click)="previusImage()"
      class="nxtBtn"
    ></fa-icon>
    <div class="items">
      <img *ngFor="let image of images" src="{{ image }}" alt="" />
    </div>
    <fa-icon
      [icon]="faChevronRight"
      (click)="nextImage()"
      class="backBtn"
    ></fa-icon>
  </section>
</div>
