.items {
  display: flex;
  position: relative;
}

.items:hover .backBtn {
  display: block;
}
.items:hover .nxtBtn {
  display: block;
}

a {
  text-decoration: none;
  color: #4168bd;
  font-size: 13px;
  margin-left: 20px;
}

a:hover {
  text-decoration: underline;
  color: red;
}

header {
  display: flex;
  margin: 0 0 10px 0;
  align-items: center;
}

section {
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
  overflow: auto;
}

h2 {
  color: #464646;
}

.nxtBtn {
  position: absolute;
  top: 50px;
  left: 8px;
  cursor: pointer;
  font-size: 40px;
  color: black;
  display: none;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}

.backBtn {
  position: absolute;
  top: 50px;
  right: 8px;
  cursor: pointer;
  font-size: 40px;
  color: black;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  display: none;
}
