<section>
  <app-card
    header="Beauty picks"
    linkType="See more"
    cardImageSrc="../../../assets/images/items/beauty.jpg"
  >
  </app-card>
  <app-card
    header="Oculus"
    linkType="Shop now"
    cardImageSrc="../../../assets/images/items/oclus.jpg"
  >
  </app-card>
  <app-card
    header="Computers & Accessories"
    linkType="Explore more"
    cardImageSrc="../../../assets/images/items/pc.jpg"
  >
  </app-card>
  <div>
    <app-card-button
      header="Sign in for the best experience"
      btnText="Sign in securely"
    >
    </app-card-button>
    <img src="../../../assets/images/ship.jpg" alt="" />
  </div>

  <app-card
    header="Get fit at home"
    linkType="See more"
    cardImageSrc="../../../assets/images/items/sport.jpg"
  >
  </app-card>
  <app-card-items
    header="Shop by Category"
    linkType="Explore more"
    cardImageSrc1="../../../assets/images/card-items/1.jpg"
    cardImageSrc2="../../../assets/images/card-items/2.jpg"
    cardImageSrc3="../../../assets/images/card-items/3.jpg"
    cardImageSrc4="../../../assets/images/card-items/4.jpg"
    cardText1="Computer & Accesssoris"
    cardText2="Video Games"
    cardText3="Baby"
    cardText4="Toys"
  ></app-card-items>
  <app-card-items
    header="Shop by Category"
    linkType="Shop now"
    cardImageSrc1="../../../assets/images/card-items/5.jpg"
    cardImageSrc2="../../../assets/images/card-items/6.jpg"
    cardImageSrc3="../../../assets/images/card-items/7.jpg"
    cardImageSrc4="../../../assets/images/card-items/8.jpg"
    cardText1="Computer & Accesssoris"
    cardText2="Video Games"
    cardText3="Baby"
    cardText4="Toys"
  ></app-card-items>
  <app-card
    header="Find your ideal TV"
    linkType="See more"
    cardImageSrc="../../../assets/images/items/tv.jpg"
  >
  </app-card>
</section>
<app-slider-items
  linkType="Shop now"
  header="Gifts in Video Games under $30"
  [images]="images1"
></app-slider-items>
<app-slider-items
  linkType="Shop now"
  header="Best Sellers in Baby"
  [images]="images2"
></app-slider-items>
<section>
  <app-card
    header="Get fit at home"
    linkType="See more"
    cardImageSrc="../../../assets/images/items/sport.jpg"
  >
  </app-card>
  <app-card-items
    header="Shop by Category"
    linkType="Explore more"
    cardImageSrc1="../../../assets/images/card-items/1.jpg"
    cardImageSrc2="../../../assets/images/card-items/2.jpg"
    cardImageSrc3="../../../assets/images/card-items/3.jpg"
    cardImageSrc4="../../../assets/images/card-items/4.jpg"
    cardText1="Computer & Accesssoris"
    cardText2="Video Games"
    cardText3="Baby"
    cardText4="Toys"
  ></app-card-items>
  <app-card-items
    header="Shop by Category"
    linkType="Shop now"
    cardImageSrc1="../../../assets/images/card-items/5.jpg"
    cardImageSrc2="../../../assets/images/card-items/6.jpg"
    cardImageSrc3="../../../assets/images/card-items/7.jpg"
    cardImageSrc4="../../../assets/images/card-items/8.jpg"
    cardText1="Computer & Accesssoris"
    cardText2="Video Games"
    cardText3="Baby"
    cardText4="Toys"
  ></app-card-items>
  <app-card
    header="Find your ideal TV"
    linkType="See more"
    cardImageSrc="../../../assets/images/items/tv.jpg"
  >
  </app-card>
</section>
<app-slider-items
  linkType="Shop now"
  header="Gifts in Video Games under $30"
  [images]="images1"
></app-slider-items>
<app-slider-items
  linkType="Shop now"
  header="Best Sellers in Baby"
  [images]="images2"
></app-slider-items
><app-slider-items
  linkType="Shop now"
  header="Our favorite Toys"
  [images]="images3"
></app-slider-items>
<app-slider-items
  linkType="Shop now"
  header="Gifts in Video Games under $30"
  [images]="images2"
></app-slider-items>
