<div class="card">
  <header>{{ header }}</header>
  <div class="card-items">
    <div>
      <img src="{{ cardImageSrc1 }}" alt="" />
      <p>{{ cardText1 }}</p>
    </div>
    <div>
      <img src="{{ cardImageSrc2 }}" alt="" />
      <p>{{ cardText2 }}</p>
    </div>
    <div>
      <img src="{{ cardImageSrc3 }}" alt="" />
      <p>{{ cardText3 }}</p>
    </div>
    <div>
      <img src="{{ cardImageSrc4 }}" alt="" />
      <p>{{ cardText4 }}</p>
    </div>
  </div>
  <footer>
    <a href="">{{ linkType }}</a>
  </footer>
</div>
